@import "tailwindcss";

@font-face {
    font-family: 'WorkSans';
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400, 600, 700;
    font-style: normal;
}

@theme{
    --font-sans: "WorkSans";

    --text-base: 16px;
    --text-big: 64px;
    --text-minibig: 42px;

    --breakpoint-ssm: 375px;

    --color-white: hsl(0, 100%, 100%);
    --color-purple-100: hsl(275, 100%, 97%);
    --color-purple-600: hsl(292, 16%, 49%);
    --color-purple-950: hsl(292, 42%, 14%);
}

@layer components {
  .accordion-body {
    @apply overflow-hidden max-h-0 opacity-0 transition-all duration-300 ease-in-out;
  }

  .accordion-body-open {
    @apply max-h-96 opacity-100 pt-6;
  }

  .h2-accordion {
    @apply font-bold text-purple-950 text-lg max-w-2/3;
  }
  .p-accordion {
    @apply text-purple-600 select-none;
  }
}

